body {
    border: 1px solid red;
    margin: 0;
    background-color: #8ab422;
}
#header {
        border: 1px solid red;
        margin: 0 5%;
        /*font: bold 12px arial,verdana;*/
        box-sizing: border-box;
        /*width:auto;*/
}
#main {
    position: relative;
    width: 100%;
}
#colm1 {
        border: 1px solid red;
        float: left;
        width: 42%;
        height: 30em;
        margin: 0 5%;
        background-image: url(/images/lion1.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
}
#colm2 {
       border: 1px solid red;
       box-shadow: 15px 15px 15px 15px #416045 inset;
       border-radius: 50%;
       float: left;
       width: 42%;
       height: 30em;
       margin: 0 5% 0 0;
       background-color: #00ff21;
       padding: 0;
       text-align: center;
       /*display: inline-block;*/
       cursor: pointer;
}
#colm2 p#click {
    color: red;
    font-size: 5em;
    text-decoration: none;
    position: absolute;
    top: 200px;
    left: 63.5%;
    
}
#footer {
        border: 1px solid red;
        clear: left;
        width: 100%;
        height: 3.5em;
        text-align: center;

}

    
